body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    width: 100%;
    margin-top: 75px;
    margin-left: 5%;
}

/*CSS For Login */
#loginContainer {
    margin-top: 25%;
    margin-left:0px;
}

#header {
    align-content: left;
    font-size: 2em;
}

#inputContainer {
    width: 75%;
}

#loginButtons {
    margin-left: 0;
}



/* End Login */ 
@media  (max-width:400px) {
    #header {
        font-size: 1.75em;
    }
}


/*CSS For Map*/

.column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#map {
    margin-left: -5vw;
    display: grid;
    /*justify-content: center;*/
   
    grid-template-rows: 10%;
    width: 80vw;
    height: 80vh;
    gap:0px;
    overflow:scroll;

    grid-template-areas: 
    ".........."
    ".........."
    ".........."
    ".........."
    ".........."
    ".........."
    ".........."
    ".........."
    ".........."
    ".........."
    "..........";
    
}

.square {
    display: inline;
    background-color: white;
    border: 2px solid black;
    width: 10%;
    height: 8vh;
    margin: 0px;
}

.main-grid {
    display: grid;
    column-count: 2;
    grid-template-columns: 75vw 20vw;

}

/*Begin Code From https://bootsnipp.com/snippets/6XlB5 */
#chat {
   
}

#chatBox {
    width: 20vw;
    height: 85%;
}

#typeBox {
    width: 20vw;
    height: 15%;
}

img {
    max-width: 100%;
    max-height: 100%;
}
  

/*
@media (min-width: 1000px) {
    #map {
        width:1000px;
        height: 1000px;
    }
} */